# Build directories
Build/
*-Build/

# Output directories
Bin/
Bin-CC/
Lib/
Lib-CC/

# Source directory
Source/

# Generated Doxyfile
Docs/Doxyfile

# Generated site
_site/

# Misc.
*~
*.swp
.DS_Store
